@font-face {
  font-family: "iconfont"; /* Project id 3902615 */
  src: url('iconfont.woff2?t=1676647537053') format('woff2'),
       url('iconfont.woff?t=1676647537053') format('woff'),
       url('iconfont.ttf?t=1676647537053') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoujihaoma:before {
  content: "\e7d0";
}

.icon-erweima:before {
  content: "\e67a";
}

.icon-youxiang:before {
  content: "\e664";
}

